version: "3.9"

services:
  mongo:
    image: mongo:latest
    container_name: some-mongod
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    ports:
      - "27017:27017"
